.login-page {
  min-height: calc(100vh - 80px);
  background-color: #f7f7f7;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.login-wrapper {
  width: 100%;
  max-width: 500px;
  text-align: center;
}

.login-title {
  font-size: 40px;
  font-weight: 700;
}

.login-subtitle {
  margin-top: 10px;
  margin-bottom: 40px;
}

.login-card {
  background: white;
  border-radius: 16px;
  padding: 40px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.login-group label {
  font-weight: bold;
}

.login-group input {
  height: 50px;
  border-radius: 10px;
  border: none;
  background: #ddd;
  padding: 0 15px;
}

.login-button {
  height: 50px;
  background: black;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.login-divider {
  margin: 30px 0;
  border-top: 1px solid #aaa;
}

.login-signup-text {
  text-align: center;
}

.login-signup-text span {
  font-weight: bold;
  cursor: pointer;
}